img {
  width: 30pt;
  height: 30pt;
  border-radius: 50pt;
}

body {
  background-color: rgba(100, 65, 165, 0.1);
}

.twitch-bar {
  background-color: #6441A4;
  width: 100%;
  height: auto;
}

.twitch {
  width:auto;
  max-width:100%;
  height:auto;
}

.logo-size {
  width: 60pt;
  height: 48pt;
  border-radius: none;
}

.container-align {
  text-align: left;
}
